## Hands-on3: Python Classes and Objects, Libraries, Loading Tabular Data

*Note: This lab session is graded. Complete all the exercises and submit the ipynb to canvas under assignment* **Hands_on3 (https://utexas.instructure.com/courses/1367918/assignments/6419111) **

## Before we start

Please download the following files from **Canvas->Files->Week3: Privacy_Ethics_Consent**and place them in the left panel under Files (if you are using colab):
- `sample_text.txt`
- `sample_salary_data.csv`
- `sample_product_data.xlsx`

## 0. Recap
- Last two hands ons: Intro to Python programing, data types (primitive and advanced), functions, branching (IF-ELSE), looping, lists, dictionaries and strings

- Today's topics: Classes and Objects, Libraries, Loading Files and Numerical Data

## 1. Advanced Data Types: Objects and Classes
- Objects are user-defined variables that package both data and functions
- Very relatable to the real world:
    - e.g., A circle is an object, a person is an object
    - A circle has radius as an attribute / data,
    - A person has height, weight as attribute / data
    - A circle allows operations for computing area
    - A person allow operations to computing BMI
- Classes are the blue-prints / definitions for objects

In [ ]:
class Person:
    def __init__(self, name, height, weight):
        self.name = name
        self.height = height  #height in meters
        self.weight = weight  # weight in kilograms
    def compute_bmi(self):
        bmi = ((self.weight / (self.height * self.height))) *100
        return bmi
    def update_height(self, new_height):
        self.height = new_height
    def update_weight(self, new_weight):
        self.weight = new_weight

In [ ]:
# create some person objects
person1 = Person(name="John", height=16.8, weight=73)
person2 = Person(name="Achintya", height=18.2, weight=82)
# Access data
print (person1.height)

# call bmi function
person1_bmi = person1.compute_bmi()
person2_bmi = person2.compute_bmi()

print (f"BMI for {person1.name} is {person1_bmi}")
print (f"BMI for {person2.name} is {person2_bmi}")

# update data for John
person2.update_height(new_height = 19.1)
person2.update_weight(new_weight = 73)

person2_new_bmi = person2.compute_bmi()

print (f"New BMI for {person2.name} is {person2_new_bmi}")

## Exercise E1. Banking

Certainly! Here's another question related to classes and objects in Python:

**Question:**

You are tasked with creating a Python class to represent a Bank Account. The bank account should have the following attributes:

- Account holder's name
- Account number
- Current balance

Additionally, create the following methods for the `BankAccount` class:

1. `__init__`: Initializes the bank account with the account holder's name, account number (a unique identifier), and an initial balance.
2. `deposit`: Takes an amount as input and adds it to the current balance.
3. `withdraw`: Takes an amount as input and subtracts it from the current balance if there are sufficient funds.
4. `get_balance`: Returns the current balance of the account.

Now, create an instance of the `BankAccount` class, perform some operations like depositing and withdrawing money, and display the account's current balance.

Provide both the class definition and the code demonstrating the usage of the class.

Feel free to add any necessary error handling or additional methods to make the class more robust.

In [14]:
class BankAccount:
  def __init__(self, accholder_name,acc_number,ini_balance):
    self.accholder_name = accholder_name
    self.acc_number = acc_number
    self.ini_balance = ini_balance

  def deposit(self, deposit_input):
    self.current_balance = self.ini_balance + deposit_input

  def withdraw(self, withdraw_input):
    if withdraw_input < self.current_balance:
      self.current_balance -= withdraw_input

  def get_balance(self):
    return self.current_balance


bankacc = BankAccount(accholder_name= 'Jake', acc_number=1234, ini_balance=10000)

deposit_input = int(input('Enter deposited amount: '))
withdraw_input = int(input('Enter withdrawed amount: '))

bankacc.deposit(deposit_input)
bankacc.withdraw(withdraw_input)
print(bankacc.get_balance())

Enter deposited amount: 20000
Enter withdrawed amount: 10000
20000

## 2. Python Libraries
- Collection of different modules
- Modules contain bundle of codes that can be repeatedly used in other programs
- Typically the library code are available through functions
- You should always check documentation and examples provided by the library

In [ ]:
# Generate a random number between 1, 100

import random

print (random.randint(1,100))

# Compute logarithm of a nuber

import math

print (math.log(100))
print (math.log(100, 10))

## 3. Reading a file in Python
Let's read a sample text file in Python and manipulate it's contents

We do not have to use any library here. Python provides inbuilt functions to read / write files

In [ ]:
# We read the file line by line and store as list

file_content = []
with open("sample_text.txt","r") as file:
    for line in file:
        print (line)
        file_content.append(line)

print (file_content)

# We can now do list operations such as slicing, reversing, manipulating elements
# Now let's reverse the file_content
file_content.reverse()
print (file_content)

# And write back to a new file
with open("file_reversed.txt","w") as file_to_write:
    for line in file_content:
        file_to_write.write(line)

1. This is the first line of the text file.

2. Here's the second line with some more text.

3. The third line continues the narrative.

4. We're now on the fourth line, still going strong.

5. The fifth line adds a new dimension to the story.

6. Line six introduces a twist in the tale.

7. As we reach line seven, the plot thickens.

8. In the eighth line, we find a surprise.

9. Line nine leaves us with a cliffhanger.

10. Finally, in the tenth line, the mystery is revealed.

['1. This is the first line of the text file.\n', "2. Here's the second line with some more text.\n", '3. The third line continues the narrative.\n', "4. We're now on the fourth line, still going strong.\n", '5. The fifth line adds a new dimension to the story.\n', '6. Line six introduces a twist in the tale.\n', '7. As we reach line seven, the plot thickens.\n', '8. In the eighth line, we find a surprise.\n', '9. Line nine leaves us with a cliffhanger.\n', '10. Finally, in the tenth line, the mystery is revealed.\n']
['10. Finally, in the tenth line, the mystery is revealed.\n', '9. Line nine leaves us with a cliffhanger.\n', '8. In the eighth line, we find a surprise.\n', '7. As we reach line seven, the plot thickens.\n', '6. Line six introduces a twist in the tale.\n', '5. The fifth line adds a new dimension to the story.\n', "4. We're now on the fourth line, still going strong.\n", '3. The third line continues the narrative.\n', "2. Here's the second line with some more text.\n", '1. This is the first line of the text file.\n']

## Exercise E2: File reading

- Copy the first paragrap of https://en.wikipedia.org/wiki/Data_science . Store it in a text file and name it "ds.txt"

- Upload ds.txt to colab and read the content of the file into a list

- Print the list

In [1]:
file_content = []
with open("ds.txt","r") as file:
    for line in file:
      file_content.append(line)

print(file_content)

['Data science is an interdisciplinary academic field [1] that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights from noisy, structured, and unstructured data.']

## 4. Loading and Processing Numerical Data in Tables
- Tables can be represented in various formats: Comma Separated (CSV), Tab Separated, Excel, Parquet, DataFrames
- Generally CSV formats are preferred due to their better readability
- We use pandas libraries to load and process data in tabular format
- Install pandas if you hit error "No module named pandas"
    - Install by executing

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("sample_salary_data.csv")

# Display the DataFrame
df

      Name  Age       Location  Salary
0    Alice   28       New York   60000
1      Bob   32    Los Angeles   75000
2  Charlie   23        Chicago   52000
3    David   35  San Francisco   82000
4      Eve   29         Boston   67000
5    Frank   40          Miami   92000
6    Grace   27        Seattle   58000
7   Hannah   31         Denver   71000
8    Isaac   26         Austin   55000
9  Jasmine   33        Atlanta   76000

In [ ]:
print (df["Age"])

# Convert the column to list

salary = df["Salary"].tolist()

print (salary)

0    28
1    32
2    23
3    35
4    29
5    40
6    27
7    31
8    26
9    33
Name: Age, dtype: int64
[60000, 75000, 52000, 82000, 67000, 92000, 58000, 71000, 55000, 76000]

# Exercise E3: Load a tabular data from a Microsoft Excel file

- Load the data in `sample_product_data.xlsx` into a dataframe. Hint: use `pd.read_excel("sample_salary_data.csv")`.

- Convert the price and quantity columns into lists. Print the lists.

- Compute the average price and quantity. Use the formula `sum(l)/len(l)` to compute the average of a list named `l`.

- Now find out which product has the maximum price.

In [15]:
import pandas as pd

df = pd.read_excel('sample_product_data.xlsx')

price = df["Price"].tolist()
quantity = df["Quantity"].tolist()

print(price)
print(quantity)

avg_price = sum(price)/len(price)
avg_quantity = sum(quantity)/len(quantity)

print(max(price))

[1200, 800, 100, 15, 50, 150, 20, 30, 80, 75]
[10, 20, 50, 100, 30, 15, 80, 40, 12, 25]
1200